p {
    text-align: justify;
}

.md-typeset {
     text-align: justify;
}

.md-sidebar--primary .md-nav_title {
    display: none;
}

a img {
    height: 3rem !important;
    width: 3rem !important;
}

